body {

  background-image: url(./img/bgImage.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  height: 100%;
}

