

.footer {
    height: 35px;
    background: rgb(0, 0, 0);

}

.info {
    display: flex;
    justify-content: space-around;
    color: rgb(104, 104, 104);
    text-align: center;
    margin-top: 8px;
}